<div class = "nav-bar-option"><a routerLink="/desktop" routerLinkActive="active">Desktop</a></div>
<div class = "nav-bar-option"><a routerLink="/car-list" routerLinkActive="active">car-list</a></div>
<div class = "nav-bar-option"><a routerLink="/client-list" routerLinkActive="active">client-list</a></div>  
<div class = "nav-bar-option"><a routerLink="/loan-list" routerLinkActive="active">loan-list</a></div>
<div class = "nav-bar-option"><a routerLink="/price-list" routerLinkActive="active">price-list</a></div>
<div class = "nav-bar-option"><a routerLink="/trailer-list" routerLinkActive="active">trailer-list</a></div>
<div style = "clear: both;"></div>