<a routerLink="/desktop" routerLinkActive="active"><div class = "nav-bar-option">Desktop</div></a>
<a routerLink="/car-list" routerLinkActive="active"><div class = "nav-bar-option">Cars</div></a>
<a routerLink="/client-list" routerLinkActive="active"><div class = "nav-bar-option">Clients</div></a>  
<a routerLink="/loan-list" routerLinkActive="active"><div class = "nav-bar-option">Loans</div></a>
<a routerLink="/price-list" routerLinkActive="active"><div class = "nav-bar-option">Prices</div></a>
<a routerLink="/trailer-list" routerLinkActive="active"><div class = "nav-bar-option">Trailers</div></a>
<div style = "clear: both;"></div>