.nav-bar-option {
    background-color: #777777;
    float: left;
    margin:  20px 24px;
    margin-bottom: 0px;
    width: 126px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;
    border: black 3px solid;
}

a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-shadow: 1px 1px black;
    font-family: 'Comfortaa', cursive;
}

.nav-bar-option:hover {
    background-color: #555599;
}