<form [formGroup]="newVehicleFormGroup" class = "form">
  <div class = "form-group">
    <label>
      name: <input type = "text" formControlName = "name"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      weight: <input type = "text" formControlName = "weight"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      licensePlate: <input type = "text" formControlName = "licensePlate"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      passengersCount: <input type = "text" formControlName = "passengersCount"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      yearOfProduction: <input type = "text" formControlName = "yearOfProduction"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      travelledKilometers: <input type = "text" formControlName = "travelledKilometers"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      engineCapacity: <input type = "text" formControlName = "engineCapacity"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      enginePowerInkW: <input type = "text" formControlName = "enginePowerInkW"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      brand: <input type = "text" formControlName = "brand"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      model: <input type = "text" formControlName = "model"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      hookType: <input type = "text" formControlName = "hookType"/>
    </label>
  </div>
  <div class = "form-group">
    <label>
      price: <input type = "text" formControlName = "price"/>
    </label>
  </div>

</form>

<p>
  {{id}}
</p>
