<div id="table">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>name</th>
        <th>vehicleType</th>
        <th>passCount</th>
        <th>model</th>
        <th>lendStatus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.name}}</td>
        <td>{{vehicle.vehicleType}}</td>
        <td>{{vehicle.passengersCount}}</td>
        <td>{{vehicle.brand + " " + vehicle.model}}</td>
        <td>{{vehicle.lendStatus}}</td>
      </tr>
    </tbody>
  </table>
</div>
